.cabeçalho{background-color: rgb(0, 180, 224); color: #00ffd5c0;display: flex; justify-content: space-around;} 
.imagem-logo{width: 20%}
.cabeçalho-lista-item{display: inside-block; margin;o:16px;font-size:20px;}